Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/OceanEnvironmentPack/Textures/LandscapeTextures/T_Landscape_Shells_Dif.uasset
Content/OceanEnvironmentPack/Textures/LandscapeTextures/T_Landscape_Shells_Norm.uasset
Content/OceanEnvironmentPack/Textures/LandscapeTextures/T_SandBasic_Dif.uasset
Content/UltraDynamicSky/Textures/Sky/Real_Stars.uasset